      <tr>
        <td><%= marca.nombre %></td>
        <td><%= link_to 'Show', marca %></td>
        <td><%= link_to 'Edit', edit_basico_marca_path(marca) %></td>
        <td><%= link_to 'Destroy', marca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
