<div class="row">
	<div class="col-md-4"  >
	 <%= link_to 'Editar',edit_basico_marca_path(@basico_marca),class: "btn btn-default btn-sm" %> 
	 <%= link_to 'Listado', basico_marcas_path, class: "btn btn-default btn-sm" %>
	</div>
	<div class="col-md-8" align="right">
	</div>
</div>

<h3>Marcas <small> detalle </small></h3>
<p id="notice"><%= notice %></p>


<div class="well">
<div class="row">
	<div class="col-md-6">
		<p>
		  <strong>Nombre:</strong>
		  <%= @basico_marca.nombre %>
		</p>
 
	</div>
 
</div>
</div>




