      <tr>
        <td><%= operadora.nombre %></td>
        <td><%= link_to 'Show', operadora %></td>
        <td><%= link_to 'Edit', edit_basico_operadora_path(operadora) %></td>
        <td><%= link_to 'Destroy', operadora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>