 
<div class="row">
	<div class="col-md-4"  >
	<%= link_to 'Mostrar', @basico_estado, class: "btn btn-default btn-sm" %>
	<%= link_to 'listado', basico_estados_path, class: "btn btn-default btn-sm" %>
	</div>
	<div class="col-md-8" align="right">
	</div>
</div>
<h3>Estados<small> editar </small></h3>

<div> 
	<%= render 'form' %>
</div>



