<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @basico_plan.nombre %>
</p>

<%= link_to 'Edit', edit_basico_plan_path(@basico_plan) %> |
<%= link_to 'Back', basico_planes_path %>
