  <tr>
        <td><%= tipo_vehiculo.nombre %></td>
        <td><%= link_to 'Show', tipo_vehiculo %></td>
        <td><%= link_to 'Edit', edit_basico_tipo_vehiculo_path(tipo_vehiculo) %></td>
        <td><%= link_to 'Destroy', tipo_vehiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>