      <tr>
        <td><%= marca_vehiculo.nombre %></td>
        <td><%= link_to 'Show', marca_vehiculo %></td>
        <td><%= link_to 'Edit', edit_basico_marca_vehiculo_path(marca_vehiculo) %></td>
        <td><%= link_to @marca_vehiculo, "eliminar", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
