 

 
<div class="row">
	<div class="col-md-4"  >
	 <%= link_to 'Regresar', basico_marca_vehiculos_path , class: "btn btn-default btn-sm" %>
	</div>
	<div class="col-md-8" align="right">
	</div>
</div>
<h3>Marcas <small> nuevo</small></h3>

<div> 
	<%= render 'form' %>
</div>


